@model app.Models.BurgerMenuViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <div id="cartPlaceHolder">
                @await Html.PartialAsync("Cart", @Model.CartViewModel)
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <div class="card-deck mb-3 text-center">
                @foreach (var burger in Model.Burgers) {
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@burger.BurgerName</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ @burger.BurgerPrice
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                @foreach (var ingredientDescription in burger.IngredientsDescription)
                                {
                                    <li>@ingredientDescription</li>
                                }
                            </ul>
                            
                        </div>
                        <div class="card-footer">
                            <button type="button" data-buy-click="@burger.BurgerType" class="btn btn-lg btn-block btn-primary">Comprar</button>
                        </div>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Monte o seu lanche</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    @foreach (var ingredients in Model.Ingredients)
                                    {
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@ingredients.IngredientDescription</span>
                                            </div>
                                            <input type="number" min="1" max="10" data-ingredient-type="@ingredients.IngredientType" class="form-control bg-white" placeholder="">
                                        </div>
                                    }
                                </ul>                                
                            </div>
                            <div class="card-footer">
                                <button type="button" data-buy-click="XCustom" class="btn btn-lg btn-block btn-primary">Comprar</button>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>